html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(135deg, #1e1e2f, #1b2735, #283547, #3e4a63);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.vt323-regular {
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    background-color: transparent; /* Hace que la tarjeta no tenga un color de fondo específico */
    background-image: inherit; /* Hereda el fondo de la página */
    background-size: cover; /* Asegura que el fondo cubra toda la tarjeta */
    background-position: center; /* Centra el fondo de la tarjeta */
}