@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4 vt323-regular mb-4" style="color: #3498db;">BUILDING ROBUST BACKEND</h2>
    <div class="card mb-3 mx-auto border-0" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/images/foto fer.JPG" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-8">
                <div class="card-body" style="color: #2c3e50;">
                    <h3 class="card-title vt323-regular" style="color: #3498db">Fernando Moreno</h3>
                    <p class="card-text vt323-regular" style="color: #3498db; font-size:18px;">
                        Backend developer specializing in .NET, With a strong focus on building robust and scalable systems
                    </p>
                    <a href="#"><i class="fa-brands fa-linkedin" style="font-size: 50px; margin-right: 10px;"></i></a>
                    <a href="#"><i class="fa-brands fa-github" style="font-size: 50px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-5 vt323-regular" style="color: #3498db;">
    <h2>Technologies</h2>
</div>

<div id="technologiesCarousel" class="carousel slide mt-5 vt323-regular" style="color: #3498db" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center gap-3">
                <!-- Primera tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/NETCore.png" alt=".NET Core" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">.Net Core</h4>
                        <p class="card-text">I've been working with .Net core 8 building applications using Razor and Blazor pages.</p>
                    </div>
                </div>
                <!-- Segunda tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/JS.webp" alt="JavaScript" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">JavaScript</h4>
                        <p class="card-text">Experienced in building dynamic and interactive web applications using modern JavaScript frameworks.</p>
                    </div>
                </div>
                <!-- Tercera tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/SQLServer.png" alt="SQL Server" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">SQL Server</h4>
                        <p class="card-text">Proficient in database management and optimization using SQL Server with Dapper integration.</p>
                    </div>
                </div>
                <!-- Cuarta tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/Java.jpg" alt="Java" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">Java</h4>
                        <p class="card-text">I started at programming with java and I've been learning frameworks as swing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center gap-3">
                <!-- Quinta tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/csharp.png" alt="C#" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">C#</h4>
                        <p class="card-text">Expertise in building robust and scalable applications with C# and .NET frameworks.</p>
                    </div>
                </div>
                <!-- Sexta tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/HTMLCSS.webp" alt="HTML & CSS" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">HTML & CSS</h4>
                        <p class="card-text">Proficient in creating responsive and modern web designs using HTML5 and CSS3.</p>
                    </div>
                </div>
                <!-- Séptima tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/boostrap.jpg" alt="Bootstrap5" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">Bootstrap</h4>
                        <p class="card-text">Experienced in containerization and deployment using Docker.</p>
                    </div>
                </div>
                <!-- Octava tarjeta -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/git.png" alt="Git" style="object-fit: cover; height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title">Git</h4>
                        <p class="card-text">Version control expertise with Git and GitHub for collaborative development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controles del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#technologiesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#technologiesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>





